/*table.table-fit {*/
/*    width: auto !important;*/
/*    table-layout: auto !important;*/
/*}*/
table.table-fit thead tr th {
    width: auto !important;
    white-space: nowrap;
}
/*table.table-fit tbody td, table.table-fit tfoot td {*/
/*    width: auto !important;*/
/*}*/

.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .6rem .6rem !important;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #e8ebf3!important;
    border-radius: .25rem!important;
    border-bottom: 1px solid #e8ebf3!important;
    -webkit-transition: border-color 0s ease-out;
    transition: border-color 0s ease-out;
    height: 38px;
    background-color: #fff;
}

.navbar-custom {
    background:rgb(255, 148, 61);;
    /*margin-left: 270px;*/
    min-height: 70px;
    -webkit-box-shadow: 0px 2px 4px rgba(31,30,47,0.25);
    box-shadow: 0px 2px 4px rgba(31,30,47,0.25);
    position: relative;
    color: #e7eceb;
    font-weight: 900;
}
.navbar-custom .nav-link {
    padding: 0 0.75rem;
    color: #e7eceb;
    line-height: 70px;
    max-height: 70px;
}
.navbar-custom .nav-link .nav-icon {
    font-size: 18px;
    color: #e7eceb;
    font-weight: 900;
}
.notification-list .noti-icon {
    font-size: 22px;
    vertical-align: middle;
    color: #e7eceb;
}
.navbar-custom .topbar-nav li.show .nav-link {
    background-color: rgb(121, 119, 119);
    color: #fff;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}
.modal-content .modal-footer, .modal-content .modal-header {
    border-color: #dbe0ec;
    /* background-color: #f3f6f7; */
    background-color: #f6f6f6;
}
body.enlarge-menu .left-sidenav .topbar-left .logo .logo-sm {
    display: block !important;
    line-height: 70px;
    height: 35px!important;
    margin-left: -2px !important;

    /*margin: 0 auto;*/
}
/*select {*/
/*    width: 100%;*/
/*}*/
/*legend {*/
/*    display: block;*/
/*     width: auto;*/
/*    max-width: 100%;*/
/*    padding: 0;*/
/*    margin-bottom: .5rem;*/
/*    font-size: 1.2rem;*/
/*    line-height: inherit;*/
/*    color: inherit;*/
/*    white-space: normal;*/
/*}*/
legend {
    padding-top: .625rem;
    padding-bottom: .625rem;
    margin-bottom: 1.25rem;
    border-bottom: 1px solid #ddd;
    font-size: 1.3rem;
}
/*fieldset {*/
/*    display: block;*/
/*    margin-inline-start: 2px;*/
/*    margin-inline-end: 2px;*/
/*    padding-block-start: 0.35em;*/
/*    padding-inline-start: 0.75em;*/
/*    padding-inline-end: 0.75em;*/
/*    padding-block-end: 0.625em;*/
/*    min-inline-size: min-content;*/
/*    border-width: 2px;*/
/*    border-style: groove;*/
/*    border-color: threedface;*/
/*    border-image: initial;*/
/*}*/
.form-check-input-styled-success:checked ~ .form-check-input-styled-success::before {
    color: #fff;
    border-color: #58e2c4!important;
    background-color: #58e2c4!important;
}
.select2 {
    width: 100% !important;
}
